h1,
h2,
h3,
h4 {
  font-family: $ed-header-font;
  color: #fff;
  user-select: none;
}

h1,
h2 {
  margin-bottom: 2rem;
  font-size: 3rem;
}

h3 {
  margin-bottom: 2rem;
  font-size: 2rem;
}

p,
li {
  margin-bottom: 1rem;
  line-height: 1.25;
  font-family: $ed-body-font;
  font-size: 1.6rem;
  color: #fff;
}

input {
  font-family: $ed-body-font;
  font-size: 1.75rem;
}
