$ed-header-font: 'New Rocker', script;
$ed-body-font: 'Sofadi One', script;

$ed-title-font-top: 'UnifrakturCook', script;
$ed-title-font-bottom: $ed-header-font;
$ed-title-font-top-size: 5.5rem;
$ed-title-font-bottom-size: 14rem;
$ed-title-font-colour: rgb(162, 152, 105);


$ed-main-background: '~@/assets/background/paper-1074131-min-v2.jpg';
$ed-card-back: '~@/assets/card-back.png';
$ed-card-alcoholic: '~@/assets/cards/alcoholic.jpg';
$ed-card-avalanche: '~@/assets/cards/avalanche.jpg';
$ed-card-donator: '~@/assets/cards/donator.jpg';
$ed-card-multiplier: '~@/assets/cards/multiplier.jpg';
$ed-card-percentile: '~@/assets/cards/percentile.jpg';
$ed-card-randomiser: '~@/assets/cards/randomiser.jpg';
